# Obteniendo los datos de Lautaro Martinez en la copa américa 2024

Primero importo las librerías que voy a usar en esta parte:

In [13]:
from statsbombpy import sb
import pandas as pd
import requests
import os
from bs4 import BeautifulSoup, Comment
from pathlib import Path
import warnings
warnings.filterwarnings('ignore')

In [15]:
from scripts.paths import *

ModuleNotFoundError: No module named 'scripts.paths'

## Obteniendo la data de eventos

Primero paso por mirar las competiciones disponibles en statsbomb:

In [2]:
df_competiciones = sb.competitions()
df_competiciones.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 74 entries, 0 to 73
Data columns (total 12 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   competition_id             74 non-null     int64
 1   season_id                  74 non-null     int64
 2   country_name               74 non-null     object
 3   competition_name           74 non-null     object
 4   competition_gender         74 non-null     object
 5   competition_youth          74 non-null     bool
 6   competition_international  74 non-null     bool
 7   season_name                74 non-null     object
 8   match_updated              74 non-null     object
 9   match_updated_360          56 non-null     object
 10  match_available_360        10 non-null     object
 11  match_available            74 non-null     object
dtypes: bool(2), int64(2), object(8)
memory usage: 6.1+ KB

In [3]:
df_competiciones.competition_name.value_counts()

competition_name
Champions League           18
La Liga                    18
FIFA World Cup              8
Copa del Rey                3
Ligue 1                     3
FA Women's Super League     3
UEFA Euro                   2
1. Bundesliga               2
Women's World Cup           2
Liga Profesional            2
Serie A                     2
Premier League              2
African Cup of Nations      1
Copa America                1
Major League Soccer         1
FIFA U20 World Cup          1
Indian Super league         1
North American League       1
NWSL                        1
UEFA Europa League          1
UEFA Women's Euro           1
Name: count, dtype: int64

Me quedo solo con la copa américa:

In [4]:
df_competiciones[df_competiciones['competition_name'] == 'Copa America']

,competition_id,season_id,country_name,competition_name,competition_gender,competition_youth,competition_international,season_name,match_updated,match_updated_360,match_available_360,match_available
21,223,282,South America,Copa America,male,False,True,2024,2024-07-15T18:00:33.653673,None,None,2024-07-15T18:00:33.653673

Ahora que conozco su id de competición e id de temporada puedo obtener todos sus datos:

In [5]:
datos_copa_america = sb.matches(competition_id=223, season_id=282).sort_values(by='match_date')
datos_copa_america.info()

<class 'pandas.core.frame.DataFrame'>
Index: 32 entries, 31 to 0
Data columns (total 22 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   match_id               32 non-null     int64
 1   match_date             32 non-null     object
 2   kick_off               32 non-null     object
 3   competition            32 non-null     object
 4   season                 32 non-null     object
 5   home_team              32 non-null     object
 6   away_team              32 non-null     object
 7   home_score             32 non-null     int64
 8   away_score             32 non-null     int64
 9   match_status           32 non-null     object
 10  match_status_360       32 non-null     object
 11  last_updated           32 non-null     object
 12  last_updated_360       0 non-null      object
 13  match_week             32 non-null     int64
 14  competition_stage      32 non-null     object
 15  stadium                32 non-null     object
 16  referee                32 non-null     object
 17  home_managers          32 non-null     object
 18  away_managers          32 non-null     object
 19  data_version           32 non-null     object
 20  shot_fidelity_version  32 non-null     object
 21  xy_fidelity_version    32 non-null     object
dtypes: int64(4), object(18)
memory usage: 5.8+ KB

## Obteniendo la data de estadísticas varias

In [15]:
df_estadisticas_jugadores = pd.read_html('https://fbref.com/es/comps/685/stats/Estadisticas-de-Copa-America')

In [ ]:
df_estadisticas_jugadores[0]

   Unnamed: 0_level_0 Unnamed: 1_level_0 Unnamed: 2_level_0  \
               Equipo                 PL               Edad
0        ar Argentina                 24               28.6
1          bo Bolivia                 22               26.1
2           br Brazil                 20               26.7
3           ca Canada                 22               25.8
4            cl Chile                 20               30.3
5         co Colombia                 24               28.9
6       cr Costa Rica                 20               25.0
7          ec Ecuador                 18               25.2
8          jm Jamaica                 20               27.4
9           mx Mexico                 20               26.9
10          pa Panama                 21               27.4
11        py Paraguay                 20               27.5
12            pe Peru                 24               30.0
13   us United States                 21               25.4
14         uy Uruguay                 21               26.1
15       ve Venezuela                 22               28.3

   Unnamed: 3_level_0 Tiempo Jugado                   Rendimiento      ...  \
                 Pos.            PJ Titular  Mín 90 s        Gls. Ass  ...
0                57.7             6      66  570  6.3           9   8  ...
1                43.7             3      33  270  3.0           1   1  ...
2                60.0             4      44  360  4.0           5   1  ...
3                47.5             6      66  540  6.0           4   2  ...
4                49.0             3      33  270  3.0           0   0  ...
5                54.0             6      66  570  6.3          12   9  ...
6                32.0             3      33  270  3.0           2   2  ...
7                42.5             4      44  360  4.0           5   2  ...
8                47.3             3      33  270  3.0           1   0  ...
9                60.3             3      33  270  3.0           1   1  ...
10               53.5             4      44  360  4.0           6   4  ...
11               48.7             3      33  270  3.0           3   2  ...
12               37.7             3      33  270  3.0           0   0  ...
13               46.3             3      33  270  3.0           3   3  ...
14               52.3             6      66  540  6.0          11   9  ...
15               53.0             4      44  360  4.0           7   5  ...

   Por 90 Minutos
             Gls.   Ast   G+A  G-TP G+A-TP    xG   xAG xG+xAG  npxG npxG+xAG
0            1.42  1.26  2.68  1.42   2.68  1.87  1.57   3.44  1.74     3.31
1            0.33  0.33  0.67  0.33   0.67  0.32  0.20   0.52  0.32     0.52
2            1.25  0.25  1.50  1.00   1.25  1.59  0.78   2.37  1.21     1.99
3            0.67  0.33  1.00  0.67   1.00  1.39  0.99   2.39  1.39     2.39
4            0.00  0.00  0.00  0.00   0.00  0.55  0.48   1.03  0.55     1.03
5            1.89  1.42  3.32  1.42   2.84  1.49  1.03   2.52  1.12     2.15
6            0.67  0.67  1.33  0.67   1.33  0.19  0.16   0.36  0.19     0.36
7            1.25  0.50  1.75  1.00   1.50  1.35  0.76   2.11  0.96     1.72
8            0.33  0.00  0.33  0.33   0.33  0.60  0.33   0.93  0.60     0.93
9            0.33  0.33  0.67  0.33   0.67  1.57  0.86   2.44  1.33     2.20
10           1.50  1.00  2.50  1.50   2.50  0.76  0.49   1.25  0.76     1.25
11           1.00  0.67  1.67  1.00   1.67  0.94  0.78   1.72  0.94     1.72
12           0.00  0.00  0.00  0.00   0.00  0.56  0.28   0.85  0.56     0.85
13           1.00  1.00  2.00  1.00   2.00  1.36  1.14   2.50  1.36     2.50
14           1.83  1.50  3.33  1.83   3.33  1.53  1.21   2.74  1.53     2.74
15           1.75  1.25  3.00  1.50   2.75  1.40  0.91   2.31  1.21     2.12

[16 rows x 32 columns]